body{
    background-color: #1f1b5a;
    font-family: 'Open Sans' , 'Helvetica Neue';
    font-size: 22px;
    border: solid rgb(150, 234, 255);
    margin: 10px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(154, 235, 255);
}

div{
    
    color: #abffff;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #02daf7;
    background-color: rgba(3, 192, 199, 0.719);
    border-radius: 15px;
    border: solid 2px #46ffff ;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #9cfff7;
}

